@using Outsourcing.Core.Common

@model IEnumerable<Outsourcing.Data.Models.Blog>

@{
    HttpCookie cookie = Request.Cookies["_culture"];
}
@foreach (var item in Model)
{
    if (cookie.Value == "vi" || cookie.Value == "")
    {
        <div class="col">
            <div class="category-banner1">
                <div class="inner">
                    <a href="/newDetail/@item.Slug" class="image"><img style="height:276px" src="@item.BlogImage_Default" alt="@item.Title"></a>
                    <div class="content">
                        <h3 class="title">
                            <a href="/newDetail/@item.Slug">@Html.Raw(slitString.TruncateAtWord(item.Title, 80))</a>
                        </h3>
                        <p>   @Html.Raw(slitString.TruncateAtWord(item.Description, 200))</p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col">
            <div class="category-banner1">
                <div class="inner">
                    <a href="/newDetail/@item.Slug" class="image"><img style="height:276px" src="@item.BlogImage_Default" alt="@item.TitleEng"></a>
                    <div class="content">
                        <h3 class="title">
                            <a href="/newDetail/@item.Slug">@Html.Raw(slitString.TruncateAtWord(item.TitleEng, 80))</a>
                        </h3>
                        <p>@Html.Raw(slitString.TruncateAtWord(item.DescriptionEng, 80))</p>
                    </div>
                </div>
            </div>
        </div>
    }


}