@model IEnumerable<Outsourcing.Data.Models.Product>
@{

    HttpCookie cookie = Request.Cookies["_culture"];
}
@foreach (var item in Model)
{
    if (cookie.Value == "vi" || cookie.Value == "")
    {
        if (item.IsHomePage == true)
        {
            <div class="col">
                <div class="product">
                    <div class="product-thumb">

                        <span class="product-badges">
                            <span class="hot">sale</span>
                        </span>
                        <a href="/productDetail/@item.Slug" class="image">

                            <img src="@item.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="Product Image">
                            <img class="image-hover " src="@item.ProductPictureMappings.LastOrDefault().Picture.Url" alt="Product Image">
                        </a>

                    </div>
                    <div class="product-info">
                        <h6 class="title">  <a href="/productDetail/@item.Slug">@item.Name</a></h6>
                        <span class="price">
                            <span class="old">@item.OldPrice.ToString("#,##0") vnđ</span>
                            <span class="new">@item.Price.ToString("#,##0") vnđ</span>
                        </span>
                        <div class="product-buttons">
                            <a href="#" onclick="return addToCart('@item.Id')" class="product-button hintT-top" data-hint="Thêm vào giỏ hàng"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col">
                <div class="product">
                    <div class="product-thumb">
                        <a href="/productDetail/@item.Slug" class="image">

                            <img src="@item.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="Product Image">
                            <img class="image-hover " src="@item.ProductPictureMappings.LastOrDefault().Picture.Url" alt="Product Image">
                        </a>

                    </div>
                    <div class="product-info">
                        <h6 class="title">  <a href="/productDetail/@item.Slug">@item.Name</a></h6>
                        <span class="price">
                            @item.Price.ToString("#,##0") vnđ
                        </span>
                        <div class="product-buttons">

                            <a href="#" onclick="return addToCart('@item.Id')" class="product-button hintT-top" data-hint="Thêm vào giỏ hàng"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    //Tiếng anh
    else
    {
        if (item.IsHomePage == true)
        {
            <div class="col">
                <div class="product">
                    <div class="product-thumb">

                        <span class="product-badges">
                            <span class="hot">sale</span>
                        </span>
                        <a href="/productDetail/@item.Slug" class="image">

                            <img src="@item.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="Product Image">
                            <img class="image-hover " src="@item.ProductPictureMappings.LastOrDefault().Picture.Url" alt="Product Image">
                        </a>

                    </div>
                    <div class="product-info">
                        <h6 class="title">  <a href="/productDetail/@item.Slug">@item.NameEng</a></h6>
                        <span class="price">
                            <span class="old"> @{var oldPrice = Math.Round(((item.OldPrice) / 23000), 3);} @oldPrice $</span>
                            <span class="new"> @{var prices = Math.Round(((item.Price) / 23000), 3);} @prices $</span>
                        </span>
                        <div class="product-buttons">

                            <a href="#" onclick="return addToCart('@item')" class="product-button hintT-top" data-hint="Add to Cart"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col">
                <div class="product">
                    <div class="product-thumb">
                        <a href="/productDetail/@item.Slug" class="image">

                            <img src="@item.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="Product Image">
                            <img class="image-hover " src="@item.ProductPictureMappings.LastOrDefault().Picture.Url" alt="Product Image">
                        </a>

                    </div>
                    <div class="product-info">
                        <h6 class="title">  <a href="/productDetail/@item.Slug">@item.NameEng</a></h6>
                        <span class="price">
                            <span class="new"> @{var prices = Math.Round(((item.Price) / 23000), 3);} @prices $</span>
                        </span>
                        <div class="product-buttons">
                            @*<a href="#quickViewModal" data-toggle="modal" class="product-button hintT-top" data-hint="Quick View"><i class="fal fa-search"></i></a>
                                <a href="#" class="product-button hintT-top" data-hint="Compare"><i class="fal fa-random"></i></a>*@
                            <a href="#" onclick="return addToCart('@item.Id')" class="product-button hintT-top" data-hint="Add to Cart"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <input id="prodId" value="@item.Id" hidden/>
}
<script>
    function addToCart(prodId) {
        var count = document.getElementById('countCart').innerHTML;
        console.log("get value count: " + count);
        var countValue = parseInt(count);
        console.log("count cart: " + countValue);
        console.log("prodId: " + prodId);
        var quantity = 1;
        $.ajax({
            type: "POST",
            url: "/Products/AddToCart",
            data: { ProductId: prodId, Quantity: quantity },
            success: function (result) {
                console.log(result);
                count++;
                console.log("count cart: " + count);
                document.getElementById("countCart").innerHTML = count;
            }
        });
    };
</script>