@model IEnumerable<Outsourcing.Data.Models.ProductCategory>
@{
    HttpCookie cookie = Request.Cookies["_culture"];
}
@foreach (var item in Model)
{
    if (cookie.Value == "vi" || cookie.Value == "")
    {
        <div class="col">
            <div class="category-banner1">
                <div class="inner">
                    <a href="#" class="image"><img src="@item.Notes" alt="@item.Name"></a>
                    <div class="content">
                        <h3 class="title">
                            <a href="#">@item.Name</a>
                        </h3>
                        <p>
                            @Html.Raw(item.Description)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col">
            <div class="category-banner1">
                <div class="inner">
                    <a href="#" class="image"><img src="@item.Notes" alt="@item.NameEN"></a>
                    <div class="content">
                        <h3 class="title">
                            <a href="#">@item.NameEN</a>
                        </h3>
                        <p>
                            @Html.Raw(item.DesEN)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

}

