@model Labixa.Models.ContactView

<div class="breadcrumb-miscoo" style="background-color: #070b28;text-align:center">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="breadcrumb-content">
                    <h2 class="title">Contact</h2>
                    <p>If you are having problems then leave the information and the problem you are having</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact">
    <img class="left-img" src="/Content/assets/images/contact-left.png" alt="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="contact-form-wrapper">
                    <div class="contact-box">
                        <h4 class="title">
                            Send Us a Message
                        </h4>
                        @using (Html.BeginForm("Contactrespon", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <p>User Name: @User.Identity.Name</p>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email*" })
                                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Message*" })
                                    @*<div class="col-md-10">
                                        @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                                        @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                                    </div>*@
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Require supported" class="btn btn-primary" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 text-success">
                                        @ViewBag.UploadStatus
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@if (ViewBag.ScriptsMessage != null)
{
    @Html.Raw(ViewBag.ScriptsMessage);
}
