@*@model Labixa.Models.ForgotPasswordViewModel*@
@{
    ViewBag.Title = "FormInputForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link rel="stylesheet" href="~/Content/caseno/css/ModalLoader.css">
}
<style>
    .validation-summary-errors {
        color: #e7423c !important;
    }
    .breadcrumb-miscoo {
        background: #070b28;
    }
    .form{
        margin-bottom:50px;
    }
 
</style>
<!-- breadcrumb begin -->
<div class="breadcrumb-miscoo">
    @*<div class="breadcrumb-img">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
    </div>*@
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6" style="margin-top: 200px;">
                <div class="breadcrumb-content">
                    <div class="titlelogin">
                        <left>
                            <h3 class="title" style="color:#fefefe">
                                Reset password to your account
                            </h3>
                        </left>
                    </div>
                    <p class="text">Big Player CLub has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Big Player Club</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- register begin -->
<div class="register login-page breadcrumb-miscoo">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 form">
                <div class="reg-body">
                    <form action="/EmailFunc/ConfirmForgotPassAsync" method="post" id="submit_resetPass">
                        
                        <input value="@ViewBag.tokenId" name="tokenId" hidden />
                        <input id="password" type="password" placeholder="Password*" name="password">
                        <span id='message'></span>
                        <input id="confirm_password" type="password" placeholder="Password Confirm*" name="passwordConfirm">

                        <button type="button" class="btn btn-primary" id="btn_resetPass" onclick="submitResetPass()">Reset</button>
                    </form>
                    @*@using (Html.BeginForm("ConfirmForgotPassAsync", "EmailFunc", new { ReturnUrl = ViewBag.ReturnUrl, message = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "submit_resetPass" }))
                        {
                            <input value="@ViewBag.tokenId" name="tokenId" hidden />

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <h4 class="sub-title text_ColorMe">Reset password to your account</h4>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password New*" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Password Confirm*" })
                            <div class="form-group">
                                <button id="btn_resetPass" class="btn-form def-btn" onclick="submitResetPass()">Reset</button>
                            </div>
                        }*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="loader" id="loader"></div>
</div>
<script>

    function submitResetPass() {
        $('#btn_resetPass').prop("disabled", true);
        $('#btn_resetPass').last().html("Please waiting...");
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
        if ($('#password').val() != "" && $('#confirm_password').val()) {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#submit_resetPass').submit();
            }
            else {
                $('#message').html('Not Matching').css('color', 'red');
                $('#btn_resetPass').prop("disabled", false);
                $('#btn_resetPass').last().html("Reset");
                modal.style.display = "none";
            }
        }
        else {
            $('#message').html('Password not empty').css('color', 'red');
            $('#btn_resetPass').prop("disabled", false);
            $('#btn_resetPass').last().html("Reset");
            modal.style.display = "none";
        }
    };
</script>
