@using Microsoft.AspNet.Identity
@model Labixa.Models.ManageUserViewModel
@section script{
    <link rel="stylesheet" href="~/Content/caseno/css/ModalLoader.css">
}
<style>
    #btn_changePass{
        float:right;
    }
</style>
<p class="text_ColorMe">You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
@using (Html.BeginForm("Manage", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "formChangePass" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <h4 class="sub-title">Change password to your account</h4>
    <span id='message'></span>
    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @placeholder = "Password Current*", @id = "currentPass" , required = "required" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password New*", @id = "pass", required = "required" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Password Confirm*", @id = "passConfirm" , required = "required" })
    <div class="form-group">
        <button class="btn btn-success" type="button" onclick="submitChangePass()" id="btn_changePass">Save Changes</button>
    </div>
}

@*<script>
    function submitChangePass() {
        $('#btn_changePass').prop("disabled", true);
        $('#btn_changePass').last().html("Please waiting...");
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
        if ($('#currentPass').val() != "" && $('#pass').val() != "" && $('#passConfirm').val() != "") {
            $('#formChangePass').submit();
        }
        else {
            $('#message').html('Password not empty').css('color', 'red');
            $('#btn_changePass').prop("disabled", false);
            $('#btn_changePass').last().html("Save Changes");
            modal.style.display = "none";
        }
    }
</script>*@