@model Labixa.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/caseno/css/ModalLoader.css">
}
<style>
    .validation-summary-errors {
        color: #e7423c !important;
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    .securesignup {
        margin: 50px 0px 50px 0px;
    }

    .titlelogin {
        color: #fefefe;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-bottom: 50px;
    }

    .form-control {
        margin: 25px 0 25px 0;
    }

    #loader {
        /*display: none;*/
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 9999; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    .login-page {
        background: #070b28;
    }
    .loginbody {
        margin:127px 0px 50px 0px ;
    }
    
</style>

<!-- Login Area End -->
<div class="register login-page" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 loginbody">
                <div class="titlelogin">
                    
                        <h3 class="title" style="color:#fefefe">
                            LOGIN HERE
                        </h3>
                    
                </div>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal hidden_form", role = "form", @id = "formLogin" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @style = "color:#e7413e;" })
                    <h4 class="sub-title text_ColorMe">Login to your account</h4>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name*", @id = "userName" })
                    @Html.ValidationMessageFor(m => m.UserName)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password*", @id = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                    <div class="form-group">
                        <div class="checkbox pull-left">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @id = "checkbox" })
                            @Html.LabelFor(m => m.RememberMe, new { @style = "color:white;" })
                        </div>
                        <button id="submit_login" class="btn btn-warning" onclick="getIpLogin()" style="float:right">Login</button>
                    </div>
                }
                

                <div class="reg-body">

                    <p style="color: white;border-top: 1px solid white;text-align:center;">You don't have an account, <a style="color:#f6435e;" href="/register-account" target="_blank">register here</a></p>
                    <p style="text-align: center;"><a style="color:#f6435e; " href="/forgot-password">Forgot password ?</a></p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="loader" id="loader"></div>
</div>
<script type="text/javascript">


    //// Get the button that opens the modal
    //var btn = document.getElementById("myBtn");

    //// Get the <span> element that closes the modal
    //var span = document.getElementsByClassName("close")[0];

    //// When the user clicks on the button, open the modal
    //btn.onclick = function () {
    //    modal.style.display = "block";
    //}

    //// When the user clicks on <span> (x), close the modal
    //span.onclick = function () {
    //    modal.style.display = "none";
    //}

    //// When the user clicks anywhere outside of the modal, close it
    //window.onclick = function (event) {
    //    if (event.target == modal) {
    //        modal.style.display = "none";
    //    }
    //}
    //var modal = document.getElementById("myModal");
    //modal.style.display = "block";
    function getIpLogin() {
        $('#submit_login').attr("disabled", "disabled").css("cursor", "default").fadeTo(500, 0.2);
        $('#submit_login').last().html("Please waitting...");
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
        console.log("document.URL : " + document.domain);
        console.log("Log: " + $('#userName').val());
        var UserName = $('#userName').val();
        $.ajax({
            type: "POST",
            url: "/EmailFunc/GetIPClient",
            data: { username: UserName },
            async: false,
            success: function (data) {
                console.log(data);
                $("#formLogin").submit();
                //$('#submit_login').prop('disabled', true);
                //$('#submit_login').submit();
            }
        });
    };
</script>
<!-- register end -->
@*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
