@using Labixa.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = (string)ViewBag.QRImage;
    var QRImg = (string)ViewBag.QRImage;
    var QRText = (string)ViewBag.QRText;
    HttpCookie QRImgeCookie = Request.Cookies["mimosa"];
    HttpCookie QRTextCookie = Request.Cookies["mamosi"];
    var sessionQRImg = Session["QRImage"];
}
@section scripts{
    <link rel="stylesheet" href="~/Content/caseno/css/ModalLoader.css">
}
<style>
    .register{
        padding-bottom: 0 !important;
    }
    .text_implement {
        color: white;
    }

    .validation-summary-errors {
        color: #e7423c !important;
    }
    .changepass {
        margin: 10px 0px 50px 0px;
        text-align: left;
    }
    .changepass1 {
        margin-bottom: 50px;
        text-align: left;
    }
    .login-page {
        background: #070b28;
    }
    #input{
        display:flex;
        margin:10px 0px;
    }
    #btnSuccess{
        flex-grow:1;
    }
    @@media(max-width:420px){
        #btnSuccess{
            font-size:10px !important;
        }
    }
</style>

<!-- register begin -->
<div class="register login-page">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="reg-body changepass">
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }

                    <section id="externalLogins">
                        @Html.Action("RemoveAccountList")
                        @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-8" id="body_meQR">
                <div class="reg-body reg-body-code changepass" style="text-align:center">
                    @if (ViewBag.Cofirm2fa != true && ViewBag.Cofirm2fa != null)
                    {
                        <p>
                            <img src="@QRImgeCookie.Value" width="300" height="300" />
                        </p>
                        @*<span class="text_implement">Code Text: </span>*@
                        <section id="externalLogins"  >
                            <div class="row" style="text-align:justify;display:inline-grid">
                                <div class="col-md-12" id="input">
                                    <input id="qr_codeTextCopy" type="text" value="@QRTextCookie.Value" placeholder="Input pin code" readonly>
                                    <button class="btn btn-success" id="btnSuccess" onclick="FunctionCopy()">
                                        Copy Text
                                    </button>
                                </div>
                                <div class="col-md-12" id="input">
                                    <input id="qr_codeText" type="number" value="" placeholder="Input pin code">
                                    <button class="btn btn-success" id="btnSuccess" onclick="myFunctionCopy()">
                                        Enable
                                    </button>
                                </div>
                            </div>
                        </section>
                    }
                    else
                    {
                        <h4 class="sub-title text_implement">Account has been validate 2FA successful</h4>
                        @*<h4 class="sub-title text_implement">OFF TwoFactorEnabled </h4>*@ <input type="submit" onclick="/Account/Offtwofa" value="OFF" />

                        <!-- Trigger -->
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="loader" id="loader"></div>
</div>
@if (ViewBag.messagechange != null)
{
    <script>
        alert("Change password successful");
    </script>
}
<script>
    
        function submitChangePass() {
            $('#btn_changePass').prop("disabled", true);
            $('#btn_changePass').last().html("Please waiting...");
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
            if ($('#currentPass').val() != "" && $('#pass').val() != "" && $('#passConfirm').val() != "")
            {
                if ($('#currentPass').val() == $('#pass').val() && $('#currentPass').val() == $('#passConfirm').val()) {
                    alert("Password Incorrect");
                }
                $('#formChangePass').submit();
            }
            else {
                //alert("Change Password Success");
                alert("Password not empty");
                $('#message').html('Password not empty').css('color', 'red');
                $('#btn_changePass').prop("disabled", false);
                $('#btn_changePass').last().html("Save Changes");
                modal.style.display = "none";
            }
            
        };

    var code_text = document.getElementById("qr_codeTextCopy");
       function FunctionCopy() {
           /* Get the text field */
           var copyText = code_text;
           /* Select the text field */
           copyText.select();
           copyText.setSelectionRange(0, 99999); /*For mobile devices*/

           /* Copy the text inside the text field */
           document.execCommand("copy");

           /* Alert the copied text */
           alert("Copied the text: " + copyText.value);
       };
       function myFunctionCopy() {
           var code2fa = $('#qr_codeText').val();
           console.log(code2fa);
           var modal = document.getElementById("myModal");
           modal.style.display = "block";
           if (code2fa != "") {
               $.ajax({
                   type: "POST",
                   url: "/Account/Enable_2FA",
                   data: { username: '@ViewBag.UserName', pinCode: code2fa },
                   success: function (data) {
                       if (data.Status == 1) {
                           alert(data.Message);
                           window.location.reload();
                       } else {
                           alert(data.Message);
                           modal.style.display = "none";
                       }
                   }
               });
           }
           else {
               var modal = document.getElementById("myModal");
               modal.style.display = "none";
               alert("Pin code not empty");
           }
       };
</script>

